@font-face {

    font-family: gothamblack;
    src: url(/_fonts/Gotham-Black.otf);
}

@font-face {
    font-family: principal;
    src: url(/_fonts/GothamLight.ttf)
}

* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-repeat: no-repeat;

}

.botaovoltar {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 100px;
    right: 40px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    background-image: url(/_imagens/botaovoltar.png);
}



header h1 {
    font-size: 4vh;
    font-family: gothamblack;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(148, 76, 154);
    padding: 20px;
}

p {
    margin-top: 4vh;
}

.banner {
    width: 100%;
}

.retangulo1 {
    padding: 10vh;
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: auto;
}

.retangulo1 img {
    width: 40vw;
}

.texto1 {

    color: #fff;
    width: 40vw;
    background-color: rgb(93, 35, 99);
    padding: 15vh;
    font-size: 3vh;
    margin-left: 6vw;
}

.retangulo1 {
    padding: 10vh;
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: auto;
    width: 100%;
    background-color: #f9f1ff;
}

figcaption {
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
}

.retangulo2 {
    width: 100%;
    display: flex;
}

.texto2 {

    color: rgb(255, 255, 255);
    width: 70vh;
    background-color: #00b8a4;
    padding-top: 25vh;
    padding-left: 17vh;
    padding-right: 30vh;
    font-size: 3vh;

}

a {
    text-decoration: none;
    width: 5vh;
}

.vejamais {
    color: #fff;
    margin-top: 5vh;
    font-size: 4vh;
    padding: 2vh;
    background-color: rgb(3, 95, 77);
    width: 19vh;
    border-radius: 12px;
}

.retangulo3 {
    align-items: center;
    background-color: rgb(229, 248, 247);
}

video {
    background-color: #a368a0;
}

.texto3 {

    color: rgb(11, 138, 131);
    width: 100vh;
    padding: 5vh;
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    width: 5vh;
}


.form {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh;
    background-color: #662f77;
}

.form button:hover,
.form button:focus {
    outline: none;
}

.emailnome {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;


}

.msg {
    display: flex;
    flex-direction: column;
    text-align: left;


}

label {
    font-family: principal;
    font-size: 2.5vh;
    color: #fff;
}

input {
    font-family: principal;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 50vh;
    height: 6vh;
    border-radius: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 2.5vh;

}

#message {
    font-family: principal;
    font-size: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 80vh;
    height: 40vh;
    border-radius: 20px;
    margin-right: 15vh;
}

button {
    padding: 1vh;
    width: 20vh;
    border-radius: 25px;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


footer {
    color: #a368a0;
    font-family: principal;
    text-align: center;
    font-size: 2vh;
    padding: 4vh;
}

@media (max-width:1024px) {

    .retangulo1 {
        padding-left: 10vw;
    }

    .retangulo1 img {
        width: 40vw;
    }

    .retangulo2 {
        height: 70vh;
        overflow: hidden;

    }

    video {

        margin-top: -12vh;
    }

    .texto2 {
        padding-top: 5vh;
        overflow: hidden;
    }

    input {
        font-family: principal;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 25vw;
        height: 6vh;
        border-radius: 20px;
        text-align: left;
        color: rgb(0, 0, 0);
        font-size: 2.5vh;
    }

    .msg {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 35vw;
        margin-right: 10vw;
    }

    #message {
        font-family: principal;
        font-size: 3vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 35vw;
        height: 25vh;
        border-radius: 20px;
    }

    label {
        font-family: principal;
        font-size: 2.5vh;
        color: #fff;
        text-align: center;
    }

    button {
        align-items: center;
    }

    footer {
        color: #a368a0;
        font-family: principal;
        text-align: center;
        font-size: 2vh;
        padding: 4vh;
    }

}

@media (max-width:768px) {
    body{
        color:#f9f1ff;;
    }
    .texto1 {
        opacity: 0;
        height: 0vh;
        margin: 0;
        padding: 0;
    }

    .retangulo1 {  
        flex-direction: column;
        margin-right: auto;
        width: 100%;
        height: 100%;
        background-color: #f9f1ff;
        padding-left: 0px;
        margin-bottom: 0vh;
        overflow: hidden;
    }

    .retangulo1 img{
        width: 50vh;
        overflow: hidden;
    }

    figcaption {
        margin-top: -10vh;
        color: #fff;
        width: 40vh;
        height: 40vh;
        background-color: rgb(93, 35, 99);
        padding: 5vh;
        font-size: 3vh;
        opacity: 1;
        overflow: hidden;
    }

    .retangulo2{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .texto2 {
        width: 65vw;
        height: 60vh;
        overflow: hidden;
        padding-top: 18vh;
        padding-bottom:30vh ;
        margin-left: -10vw;
    }

    video{
        width: 100%;
        height: 44vh;
    }

    .texto3{
        width: 75vw;
    }

    .form {
        width: 90vw;
        display: flex;
        align-items: left;
        align-content: left;
        margin-left: auto;
        margin-right: auto;
        padding: 8vh;
        background-color: #662f77;
    }
    form,
    .emailnome{
        flex-direction: column;
        align-items: left;
        margin-right: 400vw;
        

    }
    label {
        font-family: principal;
        font-size: 2.5vh;
        color: #fff;
        text-align: left;
    }

    input{
    width: 75vw;
    align-items: center;
    }

    textarea{
        width: 350vw;

    }

    .msg {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-right: 0vw;
    
    }

    #message {
        font-family: principal;
        font-size: 3vh;
        margin-top: 2vh;
        padding-right: 0vh;
        margin-bottom: 2vh;
        margin-left: 0vw;
        width: 75vw;
        height: 25vh;
        border-radius: 20px;
    }

    button{
        align-items: center;
        
    }

    .botaovoltar {
        position: fixed;
        width: 100px;
        height: 100px;
        bottom: 40px;
        right: 10px;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        z-index: 1000;
        background-image: url(/_imagens/botaovoltarcell2.png);
    }
    footer {
        color: #a368a0;
        font-family: principal;
        text-align: center;
        font-size: 2vh;
        padding: 4vh;
    }
}
