/*fontes*/

@font-face {
    font-family: principal;
    src: url(../_fonts/GothamLight.ttf);
}

@font-face {
    font-family: caminhos;
    src: url(../_fonts/GothamBook.ttf);
}


/*corpo do site*/
body {
    background-color: rgba(0, 0, 0, 0.705);
    background-image: url(../_imagens/foto-fundotext.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding-bottom: 90px;
    padding-top: 0px;

}

.logo {
    margin-bottom: -19vh;
    width: 40vh;
}

.global {
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.container {
    margin-top: 0px;
}

.container img {
    margin-top: 0px;
    margin-bottom: 0vh;
}


/*Menu inicial*/
nav {
    padding-top: 0px;
}


#menu{
    color: white;
    text-align: center;
    font-family: caminhos;
}

a {
    color: white;
    margin: 15px;
    list-style: none;
    text-decoration: none;
}


a:hover {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;
    text-shadow: 2px 2px 2px rgb(91, 59, 133);
    align-items: center;
    color: rgb(240, 203, 232);

}

/*redes*/
.icones {
    padding-top: 15px;
}

.icones {
    padding-top: 15px;
    text-decoration: none;
}

.icones img {
    padding: 15px;
    align-items: center;
    width: 25px;
}

.icones img:hover {
    transition: all 0.3s ease-in-out;
    padding-bottom: 11px;

}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    margin-bottom: 6vh;

}



p{
    font-size: 5pt;
}




@media (max-width: 425px) {
    body {
        background-color: rgba(0, 0, 0, 0.705);
        background-image: url(../_imagens/foto-fundo-cell2.png);
        background-repeat: no-repeat;
        width: 120%;
        height: 100%;
        overflow: hidden;   
    }

    .global {
        margin-bottom: 10px;
        margin-top: 15vh !important;
        margin-left: 8vw;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0vh;
    }

    .logo {
        margin-bottom: -18vh !important;
        margin-top: -5vh;
        width: 5vh ;
    }

    /*Menu inicial*/
    nav {
        padding-top: 20px;
    }

    #menu{
        color: white;
    
        text-align: center;
        font-family: caminhos;
    }
    
    a {
        color: white;
        margin: 15px;
        list-style: none;
    }
    
    
    a:hover {
        transform: scale(1.0);
        transition: all 0.3s ease-in-out;
        text-shadow: 2px 2px 2px rgb(91, 59, 133);
        align-items: center;
        color: rgb(240, 203, 232);
    
    }

    /*redes*/
    .icones {
        padding-top: 0px;
    }

    .icones img {
        width: 25px;
        padding: 2px;
        align-items: center;
    }

    .barra img{
        width:35vh;
    }
}

@media (max-width: 768px) {
    .global {
        align-items: center;
        margin-bottom: 0px;
        margin-top: 0vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .logo {
        margin-bottom: -15vh;
        width: 40vh;
    }

}