/*fontes*/

@font-face {
    font-family: principal;
    src: url(/_fonts/GothamLight.ttf);
    font-family: caminhos;
    src: url(/_fonts/Gotham-Black.otf);
}

@media (min-width: 425px) {

    body {
        background-color: rgba(0, 0, 0, 0.705);
        background-image: url(/_imagens/foto-fundo-cell.png);
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        width: 100%;
        padding-top: 100px;
    }

    .container {
        margin-left: 180px;
        margin-top: 380px;
    }

    /*Menu inicial*/
    nav {
        padding-top: 20px;
    }

    a.leg {
        font-family: caminhos;
        font-size: 75px;
        color: white;
        margin-left: 25px;
        text-decoration: none;
    }

    a.eng {
        font-family: caminhos;
        font-size: 75px;
        color: white;
        margin-left: 25px;
        text-decoration: none;
    }

    li {
        margin-bottom: 15px;
        list-style: none;
    }

    li:hover {
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
        align-items: center;
        padding-left: 5px;

    }

    a.leg:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
        text-shadow: 3px 3px 3px rgb(174, 112, 255);
        align-items: center;
        padding-left: 5px;

    }

    a.eng:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
        text-shadow: 3px 3px 3px rgb(103, 189, 182);
        padding-left: 5px;
    }

    .barra {
        margin-left: 180px;
    }

    /*redes*/
    .icones {
        padding-top: 15px;
        margin-left: 250px;
    }

    .icones img {
        width: 120px;
        padding: 10px;
        align-items: center;
    }
}

@media (min-width: 1024px) {

    /*corpo do site*/
    body {
        background-color: rgba(0, 0, 0, 0.705);
        background-image: url(/_imagens/Fundo-Foto.png);
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        padding-bottom: 110px;
    }

    .container {
        margin-left: 380px;
        margin-top: 150px;
    }

    /*Menu inicial*/
    nav {
        padding-top: 20px;
    }

    a.leg {
        font-family: caminhos;
        font-size: 35px;
        color: white;
        margin-left: 140px;
        text-decoration: none;
    }

    a.eng {
        font-family: caminhos;
        font-size: 35px;
        color: white;
        margin-left: 140px;
        text-decoration: none;
    }

    li {
        margin-bottom: 15px;
        list-style: none;
    }

    li:hover {
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
        align-items: center;
        padding-left: 5px;

    }

    a.leg:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
        text-shadow: 3px 3px 3px rgb(174, 112, 255);
        align-items: center;
        padding-left: 5px;

    }

    a.eng:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
        text-shadow: 3px 3px 3px rgb(103, 189, 182);
        padding-left: 5px;
    }

    .barra {
        margin-left: 390px;
    }

    /*redes*/
    .icones {
        padding-top: 15px;
        margin-left: 490px;
    }

    .icones img {
        padding: 15px;
        align-items: center;
    }
}