/*fontes*/



/*corpo do site*/
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    background-color: rgba(0, 0, 0, 0.705);
    background-image: url(../_imagens/foto-fundotext.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding-bottom: 90px;
    padding-top: 0px;

}

.logo {
    margin-bottom: -19vh;
    width: 40vh;
}

.global {
    align-items: center;
    margin-bottom: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.container {
    margin-top: 0px;
}

.container img {
    margin-top: 0px;
    margin-bottom: 0vh;
}


/*Menu inicial*/
nav {
    padding-top: 0px;
}


#menu{
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

a {
    color: white;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}


a:hover {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;
    text-shadow: 2px 2px 2px rgb(91, 59, 133);
    align-items: center;
    color: rgb(240, 203, 232);

}
p{
    margin:25px;
}
/*redes*/

.icones {
    padding-top: 15px;
    text-decoration: none;
}

.icones img {
    padding: 15px;
    align-items: center;
    width: 25px;
    padding-top: 5px;
}

.icones img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@media (max-width: 425px) {
    body {
        background-color: rgba(0, 0, 0, 0.705);
        background-image: url(../_imagens/foto-fundo-cell2.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        overflow: hidden;   
    }

    .global {
        margin-bottom: 10px;
        margin-top: 10vh !important;
        margin-left: 10%;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu{
        color: white;
        font-size: 15px;
        text-align: center;
        font-family: 'Red Hat Display', sans-serif;
    }

    .logo {
        margin-bottom: -18vh !important;
        margin-top: -5vh;
        width: 5vh ;
    }

    /*Menu inicial*/
    nav {
        padding-top: 20px;
    }

    #menu{
        color: white;
        
        text-align: center;
        font-family: 'Raleway', sans-serif;    }
    
    a {
        color: white;
        margin: 3px;
        list-style: none;
    }
    
    
    a:hover {
        transform: scale(1.0);
        transition: all 0.3s ease-in-out;
        text-shadow: 2px 2px 2px rgb(91, 59, 133);
        align-items: center;
        color: rgb(240, 203, 232);
    
    }

    p{
        margin:5px;
    }

    /*redes*/
    .icones {
        padding-top: 0px;
    }

    .icones img {
        width: 25px;
        padding: 5px;
        align-items: center;
        padding-bottom: 5vh;
    }

    .barra img{
        width:35vh;
    }
}

@media (max-width: 768px) {
    .global {
        align-items: center;
        margin-bottom: 0px;
        margin-top: 0vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .logo {
        margin-bottom: -15vh;
        width: 40vh;
    }

}