* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

/*topo texto*/
.topo {
    padding: 60px;
}

.topo h1 {
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    color: #270031;
}

.topo p {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

/*botão para voltar*/
.botaovoltar {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    background-image: url(/_imagens/botaovoltar.png);
}

/*Título*/

h2.cabecalho {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: rgb(148, 76, 154);
    padding: 20px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    color: #ffffff;
}

.conteudo {
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: #662f77;
    color: #fff;
}

/*Formulário*/

label {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: 1rem;
    width: 25rem;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh;
    background-color: #662f77;
    font-size: 5pt;
}

input {
    font-family: 'Raleway', sans-serif;
    width: 50rem;
    height: 2rem;
    font-size: 14pt;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.input-file-upload input {
    width: 250px;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: block;
}

button {
    margin-top: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

}



textarea {
    width: 15rem;
    height: 20rem;
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    width: 50rem;
}


.mensagem {
    margin-top: 25px;
    width: 15rem;
}

/*Projetos*/
a{
    text-decoration: none;
    color: rgb(44, 0, 42);
}
.projetos {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
}

.projeto {
    padding: 5%;
    margin-top: 5%;
    background-color: #f5ceff;
    border-radius: 15px;
}

.projeto:hover{
	transition:ease-in-out 0.3s;
    transform: scale(1.05);
}

.projeto p {
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
    font-size: 2vw;
}

.projeto h1 {
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
}


/*Rodape*/

.redes {
    background-color: rgb(148, 76, 154);
    text-align: center;
    padding: 25px;
    font-size: 35px;
}

.icones a {
    padding: 5px;
    text-decoration: none;
}

.icones {
    overflow: hidden;
}

.rodape {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-bottom: 25px;
    font-size: 1.5vw;
}

.dev {
    font-family: 'Raleway', sans-serif;
    color: rgb(148, 76, 154);
    padding-bottom: 5px;
}

footer .dev {
    background-color: rgb(246, 199, 255);
}

footer .dev p {
    color: rgb(113, 0, 141);
    text-align: center;
    padding: 20px;
}

.icones a img{
    width: 4vw;
}


.mensagem {
    margin-top: 25px;
    width: 15rem;
}



@media (max-width:785px) {

    /*Título*/

    h2.cabecalho {
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: rgb(148, 76, 154);
        padding: 20px;
    }

    /*Formulário*/

    label {
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        margin: 1rem;
        width: 25rem;
        flex-direction: column;
        text-align: center;
    }

    /*Botão para Voltar*/

    .botaovoltar {
        position: fixed;
        width: 100px;
        height: 100px;
        bottom: 120px;
        right: 20px;
        color: #fff;
        border-radius: 15px;
        text-align: center;
        z-index: 1000;
        background-image: url(/_imagens/botaovoltar.png);
    }

    /*formulário*/

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 4vh;
        background-color: #662f77;
        font-size: 5pt;

    }

    form button:hover,
    form button:focus {
        outline: none;
    }

    input {
        font-family: 'Raleway', sans-serif;
        width: 100%;
        height: 2rem;
    }

    .input-file-upload {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    button {
        margin-top: 25px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    textarea {
        width: 100%;
        height: 20rem;
        font-family: 'Raleway', sans-serif;
        font-size: 11pt;

    }

    /*Projetos*/

    .projeto h1 {
        font-size: 5vw;
        font-family: 'Raleway', sans-serif;
    }

    .projetos {
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 5%;
    }
    
    .projeto {
        padding: 15%;
        margin-top: 5%;
        background-color: #f5ceff;
        border-radius: 15px;
    }
    
    .projeto p {
        font-family: 'Raleway', sans-serif;
        margin-top: 5%;
        font-size: 4vw;
    }



    .redes p {
        background-color: rgb(148, 76, 154);
        text-align: center;
        padding: 5px;
        font-size: 18px;
        margin-left: 25px;
        margin-bottom: 15px;
    }

    .redes img {
        width: 30px;
    }

    footer .dev {
        background-color: rgb(246, 199, 255);
    }

    footer .dev p {
        color: rgb(113, 0, 141);
        text-align: center;
        padding: 20px;
        font-size: 8.8pt;
    }

    .icones a img{
        width: 10vw;
        align-items: center;
    }


}